html{
    background: #0f1B21;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
    font-weight: 300;

    height: 100vh;
}

body{
    height: 100vh;
    padding:0;
    margin:0;
}

#root{
    height: 100%
}

.App{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}