@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:3vh;
  width:600px;
  height: 600px;
  border-radius: 20px;
  border: 1px solid #26ffcb;
}

.title{
  width:100%;
  color: white;
  /* font-size: 60px; */
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title span{
  color: #26ffcb;
  padding-left: 15px;
}

.winnerLogo{
  width:20px;
  height:20px;
  margin-inline: 20px;
  border: 1px solid #0f1B21;
  background: #1f3540;
  border-radius: 10px;
  padding: 10px;
}

.loadingText{
  color: white;
  font-size: 30px;
  text-align: center;
}

.board{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto; 
  height: 400px;
  width:400px; 
}

.box{
  height: 100px;
  width: 100px;
  background: #1f3540;
  border: 1px solid #0f1B21;
  border-radius: 10px;
  cursor: pointer ;
  margin-inline:0.5vh;
  margin-block-end:1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box img{
  height: 45px;
  width: 45px
}

.stats{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 460px; 
  height:50px;
}

.xStats, .yStats {
  background: #1f3540;
  border-radius: 12px;
  height:50px;
  width:45%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-inline: 0.5vh; */

}

.xStats h1 {
  color: #ffc424;
}

.yStats h1 {
  color: #26ffcb;
}

.reset{
  width: 200px;
  height:50px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  background: #1f3540;
  font-size: 26px;
  color:#26ffcb;
  margin-top: 25px;
}

.column1, .column2, .column3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0

}

.strike {
  position: absolute;
  background-color: darkorange;
}

.strike-0-3-6 {
  width: 70%; 
  height: 4px;
  top: 20%; 
  left: 15%;
}

.strike-1-4-7 {
  width: 70%; 
  height: 4px;
  top: 48%; 
  left: 15%;
}

.strike-2-5-8 {
  width: 70%; 
  height: 4px;
  top: 75.7%;
  left: 15%;
}

.strike-0-1-2 {
  height: 270px;
  width: 4px;
  top: 49%; /* Adjust as needed */
  left: 22.2%; /* Adjust as needed */
  transform: translateY(-50%); /* Adjust as needed */
}

.strike-3-4-5 {
  height: 270px;
  width: 4px;
  top: 49%; /* Adjust as needed */
  left: 49.7%; /* Adjust as needed */
  transform: translateY(-50%); /* Adjust as needed */
}

.strike-6-7-8{
  height: 270px;
  width: 4px;
  top: 49%; /* Adjust as needed */
  left: 77.2%; /* Adjust as needed */
  transform: translateY(-50%); /* Adjust as needed */
}

.strike-0-4-8 {
  width: 270px;
  height: 4px;
  top: 50%;
  left: 51.4%; 
  transform: translate(-50%, -50%) skewY(45deg); /* Adjust as needed */
}
.strike-6-4-2 {
  width: 270px;
  height: 4px;
  top: 50%;
  left: 49.4%; 
  transform: translate(-50%, -50%) skewY(-45deg);
}
